body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

textarea {
	display: block;
	width: 100%;
	border: 0;
	padding: 10px 5px;
  background: white no-repeat;
	
	/*
	* IMPORTANT PART HERE
	*/
	
  /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
	background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
	/* sizes for the 2 images (default state) */
	background-size: 0 2px, 100% 1px;
	/* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
	background-position: 50% 100%, 50% 100%;

	/* animation solely on background-size */
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

}

textarea:focus{
  /* sizes for the 2 images (focus state) */
	background-size: 100% 2px, 100% 1px;
	outline: none;
}

.p-2 {
	padding-top: 2%
}

.right {
	z-index: 9999999999999;
	position: absolute;
	bottom: 2%;
	right: 2%;
}

.center {    
  margin: auto;
  width: 50%;
  padding-left: 15%;
}


@keyframes lds-wave {
  0% {
    top: 54px;
  }
  50% {
    top: 134px;
  }
  100% {
    top: 54px;
  }
}
@-webkit-keyframes lds-wave {
  0% {
    top: 54px;
  }
  50% {
    top: 134px;
  }
  100% {
    top: 54px;
  }
}
.lds-wave {
  position: relative;
}
.lds-wave div {
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: lds-wave 1.3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-wave 1.3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-wave div:nth-child(1) {
  left: 22px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #0051a2;
}
.lds-wave div:nth-child(2) {
  left: 36px;
  -webkit-animation-delay: -0.108333333333333s;
  animation-delay: -0.108333333333333s;
  background: #1b75be;
}
.lds-wave div:nth-child(3) {
  left: 50px;
  -webkit-animation-delay: -0.216666666666667s;
  animation-delay: -0.216666666666667s;
  background: #408ee0;
}
.lds-wave div:nth-child(4) {
  left: 64px;
  -webkit-animation-delay: -0.325s;
  animation-delay: -0.325s;
  background: #89bff8;
}
.lds-wave div:nth-child(5) {
  left: 78px;
  -webkit-animation-delay: -0.433333333333333s;
  animation-delay: -0.433333333333333s;
  background: #0051a2;
}
.lds-wave div:nth-child(6) {
  left: 92px;
  -webkit-animation-delay: -0.541666666666667s;
  animation-delay: -0.541666666666667s;
  background: #1b75be;
}
.lds-wave div:nth-child(7) {
  left: 106px;
  -webkit-animation-delay: -0.65s;
  animation-delay: -0.65s;
  background: #408ee0;
}
.lds-wave div:nth-child(8) {
  left: 120px;
  -webkit-animation-delay: -0.758333333333333s;
  animation-delay: -0.758333333333333s;
  background: #89bff8;
}
.lds-wave div:nth-child(9) {
  left: 134px;
  -webkit-animation-delay: -0.866666666666667s;
  animation-delay: -0.866666666666667s;
  background: #0051a2;
}
.lds-wave div:nth-child(10) {
  left: 148px;
  -webkit-animation-delay: -0.975s;
  animation-delay: -0.975s;
  background: #1b75be;
}
.lds-wave div:nth-child(11) {
  left: 162px;
  -webkit-animation-delay: -1.083333333333333s;
  animation-delay: -1.083333333333333s;
  background: #408ee0;
}
.lds-wave div:nth-child(12) {
  left: 176px;
  -webkit-animation-delay: -1.191666666666667s;
  animation-delay: -1.191666666666667s;
  background: #89bff8;
}
.lds-wave {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.p-10 {
  padding-top: 10%
}